# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*

#assets, etc.

x86*
arm*
*.orig*
.cproject
translations/*.ts
assets/sounds/*
assets/images/*
assets/*.preview*
.settings/*
*Makefile*